
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{

    max-width:100%;
    height:auto;
    font-family: 'PT Sans', arial , sans-serif;

}



#container{

    display:block;
    width:50%;
    margin:auto;
    position:relative;
    top:15vh;
    left:0vw;
    background-color:rgb(69, 69, 71);
    padding:1em;
    border-radius:10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}


h1{
    display:block;
    line-height:50px;
    text-align:center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background-color:rgb(40, 40, 41);
    width: 100%;
    margin:0;
    color:#fff;
    text-shadow:1px 1px #000;
}


h2{
    display:block;
    line-height:70px;
    text-align:center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    margin:0;
    color:#fff;
    text-shadow:1px 1px #000;
    font-size:2.5em;
}


.weatherbox{
    display:inline-block;
    width:100%;
    height:auto;
    min-height:70px;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    background-color:rgb(40, 40, 41);

}

span:first-of-type{
    text-align:center;
}
.weatherbox p{
    font-size:1.5em;
    color:#fff;
    text-align:center;    
    width:100%;
    text-transform: uppercase;
    text-shadow:1px 1px #000;
    letter-spacing:0.05em;
}

.weatherbox img{
    display:block;
    margin:1.5em auto;
}

button#tempbtn{

    display:block;
    width:100%;
    line-height:50px;
    height:auto;
    font-size:1.5em;
    outline:none;
    border:none;
    background-color:rgb(40, 40, 41);
    margin:1em auto;
    color:#fff;
}

button#tempbtn:hover{
    cursor:pointer;
    background-color:rgb(78, 74, 102);
}

